<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/logo3.png" type="image/jpg" sizes="16x16">
    <title>Siding Blog - Deluxe Siding Construction</title>
    <link rel=”canonical” href=”https://deluxesiding.com/”/>
    <meta name="keywords" content="siding ,construction , new jersey , roofing">
    <meta name="description" content="siding construction company , we offer siding,roofing,carpentry more! in the new jesery and PA areas">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”robots” content=”index, follow”>
    <link rel="apple-touch-icon" href="/images/apple.png" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
    <link href="/bulma/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/newsite.css" type="text/css">
</head>
    <body>
        <header>
            <div class="header-info">
                <h2 class="main-heading">WE ARE FULLY CERTIFIED & INSURED
                    <p class="--main-heading-p">(609)349-4596</p>
                  </h2>
                  <div class="back-buttom">
                      <a id="back-buttom" href="services">Back to services</a>
                  </div>
            </div>
          </header>
          <div class="container contenedor">
                <section class="hero is-info">
                        <div class="hero-body">
                          <div class="container">
                            <h1 class="title">
                              Siding works
                            </h1>
                            <h2 class="subtitle">
                               Explore tips & knwoledge
                            </h2>
                          </div>
                        </div>
                      </section>
                      <section class="section question1">
                            <div class="container">
                              <h1 class="title">What it is?</h1>
                              <h2 class="subtitle">
                               <strong>Siding</strong>  is a elements protective material that we install in a exterior walls in the entire house or sections of it if want to get a better perspective , follow this <a href="https://en.wikipedia.org/wiki/Siding"><strong>Link</strong></a>. 
                              </h2>
                            </div>
                          </section>
                          <section class="section question1">
                                <div class="container">
                                  <h1 class="title">How much does it cost?</h1>
                                  <h2 class="subtitle">
                                   <strong>Siding</strong>  price depends on materials the kind of siding you wish to install ; here in new jersey  we do have plenty of sidind construction materials and brands like CertainTeed , mastic siding , james hardie siding and more! each material is different so is the price for example a square of vinyl siding will cost around 150$ on the other hand a installed square of fiber cement siding would cost around 300$-400$ , check out this <a href="https://www.homeadvisor.com/cost/siding"><strong>Link</strong></a>
                                  </h2>
                                </div>
                              </section>
                              <section class="section question1">
                                    <div class="container">
                                      <h1 class="title">How long it last?</h1>
                                      <h2 class="subtitle">
                                       <strong>Siding</strong>  durability depends again on the material used in the installation proccess and also on the location , here in new jersey with our weather the majority of the siding materials will last about 20 years to be replaceable on the other hand again  with hardie plank fiber cement, the siding durability could be more than 50 years or the stone and brick siding , the will last centuries.. Want to known more ? kindly follow this <a href="http://www.sidingpriceguides.com/siding-comparison.html"><strong>Link</strong></a>
                                      </h2>
                                    </div>
                                  </section>
                                  <section class="section question1">
                                        <div class="container">
                                          <h1 class="title">Which most siding is the most used by our client's?</h1>
                                          <h2 class="subtitle">
                                           <strong>Vinyl</strong> Vinyl siding is the most used material in the new jersey and pennsylvania area in fact is the most used across the country , because of its easy installation , beautifuls combinations , and price affordable!
                                          </h2>
                                        </div>
                                      </section>
                                      <section class="section question1">
                                            <div class="container">
                                              <h1 class="title">Any further question? </h1>
                                              <h2 class="subtitle">
                                               <strong>Please</strong> feel free to call us about any question or estimate thats what we are here for! <a href="/contact"><Strong>Request assistance</Strong></a>
                                              </h2>
                                            </div>
                                          </section>
                                          <footer class="footer">
                                            <div class="footer-info">
                                              <div class="deluxe-siding">
                                                <h2>Contact info</h2>
                                                <div class="border"></div>
                                                <p>New jersey - Hamiltown Township<br>
                                                   48 Patterson ave , 08610<br>
                                                   Email:contactdeluxesiding@gmail.com<br>
                                                   NJ:609-349-4596<br> PA:609-358-9269</p>
                                              </div>
                                              <div class="company-services">
                                               <div class="border"></div>
                                               <h2>Company Services</h2>
                                               <a href="">Siding</a>
                                               <a href="">Roofing</a>
                                               <a href="">Gutter</a>
                                               <a href="">Flooring</a>
                                               <a href="">Carpentry</a>
                                               <a href="">Masonry</a>
                                               </div>
                                               <div class="buttons-footer">
                                                 <div class="border"></div>
                                                 <button class="footer-buttons"><a href="#">Request an Estimate</a></button>
                                                 <button class="footer-buttons"><a href="#">Request a CallBack</a></button>
                                                 <h2>FOLLOW US!</h2>
                                                 <div class="social-icons">
                                                   <a href="https://www.facebook.com/Deluxe-siding-Construction-Company-llc-100498994814976" class="fa fa-facebook" id="icon"></a>
                                                   <a href="https://www.instagram.com/deluxesiding/" class="fa fa-instagram"id="icon"></a>
                                                   <a href="#" class="fa fa-twitter"id="icon"></a>
                                                </div>
                                               </div>
                                               <div class="footer-navigation">
                                                 <div class="border"></div>
                                                 <h2>Navigation</h2>
                                                 <a href="#"><strong>Home</strong></a>
                                                 <a href="#"><strong>Projects</strong></a>
                                                 <a href="#"><strong>Services</strong></a>
                                                 <a href="#"><strong>Contact</strong></a>
                                                 <a href="#"><strong>Siding Blog</strong></a>
                                                 <a href="#"><strong>Roofing Blog</strong></a>
                                                 <a href="#"><strong>Gutter Blog</strong></a>
                                               </div>
                                              
                                             
                                            </div>
                                            <div class="offers">
                                              <h3>Dont Forget to ask for our's offers and discounts.! we have 500$ off in all roofing and siding projects.!</h3>
                                              <p class="ultimo-p">We do believe in helping our community build and renovate their houses , because thats keep us  in bussines and also keep our neigbours and the community of the new jersey central  and pa areas happy.<br> So do not hesitate and call us about any inquiry from your siding or roofing projects!</p>
                                            </div>
                                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                            <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
                                          </footer>
          </div>
          </div>
          </body>
          </html>