<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/logo3.png" type="image/jpg" sizes="16x16">
    <title>Carpentry Blog - Deluxe Siding Construction</title>
    <link rel=”canonical” href=”https://deluxesiding.com/”/>
    <meta name="keywords" content="siding ,construction , new jersey , roofing">
    <meta name="description" content="siding construction company , we offer siding,roofing,carpentry more! in the new jesery and PA areas">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”robots” content=”index, follow”>
    <link rel="apple-touch-icon" href="/images/apple.png" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
    <link href="/bulma/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/newsite.css" type="text/css">
</head>
    <body>
        <header>
            <div class="header-info">
                <h2 class="main-heading">WE ARE FULLY CERTIFIED & INSURED
                    <p class="--main-heading-p">(609)349-4596</p>
                  </h2>
                  <div class="back-buttom">
                      <a id="back-buttom" href="services">Back to services</a>
                  </div>
            </div>
          </header>
          <div class="container contenedor">
                <section class="hero is-info">
                        <div class="hero-body">
                          <div class="container">
                            <h1 class="title">
                              Carpentry construciton works
                            </h1>
                            <h2 class="subtitle">
                               Explore tips & knwoledge
                            </h2>
                          </div>
                        </div>
                      </section>
                      <section class="section question1">
                            <div class="container">
                              <h2 class="title">What it is?</h2>
                              <h3 class="subtitle">
                               <strong>Carpentry</strong>  it's the bones of your house, its the structure that holds everything in our houses called also Framing , basically its cutting wood pieces together to give a structure support and form , here in new jersey and almost across the country the most used construction structures are made with this framing skill if you want to educate yourself more please kindly follow this <a href="https://en.wikipedia.org/wiki/Framing_(construction)"><strong>Link</strong></a>
                              </h3>
                            </div>
                          </section>
                          <section class="section question1">
                                <div class="container">
                                  <h2 class="title">How much does it cost?</h2>
                                  <h3 class="subtitle">
                                   <strong>Framing</strong>  pricing depends strictly on the task at hand based on size and dificulty 
                                  </h3>
                                </div>
                              </section>
                              <section class="section question1">
                                    <div class="container">
                                      <h2 class="title">How long it last?</h2>
                                      <h3 class="subtitle">
                                       <strong>Framing</strong> framing well protected against the elements will last for centuries but how long you may ask , please follow this <a href="https://buyersask.com/structural/life-expectancy-of-a-house-will-it-last-100-years/"><strong>Link</strong></a>
                                      </h3>
                                    </div>
                                  </section>
                                  <section class="section question1">
                                        <div class="container">
                                          <h2 class="title">what are the framing materials?</h2>
                                          <h3 class="subtitle">
                                           <strong>Framing</strong> the most common framing materials are most often rectangular steel , as tubes or c channels and they are typically connected with nail guns or fasteners nails, or screws; in residential and multi-house complex wood is the commonly used material . on the contrary metal framing is often the choice for commercial framing. 
                                          </h3>
                                        </div>
                                      </section>
                                      <section class="section question1">
                                            <div class="container">
                                              <h2 class="title">Any further question? </h2>
                                              <h3 class="subtitle">
                                               <strong>Please</strong> feel free to call us about any question or estimate thats what we are here for! <a href="/contact"><Strong>Request assistance</Strong></a>
                                              </h3>
                                            </div>
                                          </section>
                                          <footer class="footer">
                                            <div class="footer-info">
                                              <div class="deluxe-siding">
                                                <h2 class="footer-titles">Contact info</h2>
                                                <div class="border"></div>
                                                <p>New jersey - Hamiltown Township<br>
                                                   48 Patterson ave , 08610<br>
                                                   Email:contactdeluxesiding@gmail.com<br>
                                                   NJ:609-349-4596<br> PA:609-358-9269</p>
                                              </div>
                                              <div class="company-services">
                                               <div class="border"></div>
                                               <h2>Company Services</h2>
                                               <a href="/blog">Siding</a>
          <a href="roofingblog">Roofing</a>
          <a href="/gutterblog">Gutter</a>
          <a href="/flooringblog">Flooring</a>
          <a href="/carpentryblog">Carpentry</a>
          <a href="/contact">Masonry</a>
                                               </div>
                                               <div class="buttons-footer">
                                                 <div class="border"></div>
                                                 <button class="footer-buttons"><a href="/contact">Request an Estimate</a></button>
                                                 <button class="footer-buttons"><a href="/call">Request a CallBack</a></button>
                                                 <h2 class="footer-titles">FOLLOW US!</h2>
                                                 <div class="social-icons">
                                                   <a href="https://www.facebook.com/Deluxe-siding-Construction-Company-llc-100498994814976" class="fa fa-facebook" id="icon"></a>
                                                   <a href="https://www.instagram.com/deluxesiding/" class="fa fa-instagram"id="icon"></a>
                                                   <a href="#" class="fa fa-twitter"id="icon"></a>
                                                </div>
                                               </div>
                                               <div class="footer-navigation">
                                                 <div class="border"></div>
                                                 <h2 class="footer-titles">Navigation</h2>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
            <a href="/blog"><strong>Siding Blog</strong></a>
            <a href="/roofingblog">Roofing Blog</a>
            <a href="/gutterblog">Gutter Blog</a>
                                               </div>
                                              
                                             
                                            </div>
                                            <div class="offers">
                                              <h3>Dont Forget to ask for our's offers and discounts.! we have 500$ off in all roofing and siding projects.!</h3>
                                              <p class="ultimo-p">We do believe in helping our community build and renovate their houses , because thats keep us  in bussines and also keep our neighbours and the community of the new jersey central  and pa areas happy.<br> So do not hesitate and call us about any inquiry from your siding or roofing projects!</p>
                                            </div>
                                           
                                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                            <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
                                          </footer>
          </div>
          </div>
          </body>
          </html>