<!DOCTYPE html>
<html lang="en-us">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="/images/logo3.png" type="image/jpg" sizes="16x16">
        <title>Contact Us - Deluxe Siding Construction</title>
        <meta name="keywords" content="siding ,construction , new jersey , roofing">
        <meta name="description" content="contact page , request a quote  or estimate , get in touch">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name=”robots” content=”index, follow”>
        <link rel="apple-touch-icon" href="/images/apple.png" sizes="16x16">
        
        <link rel=”canonical” href=”https://deluxesiding.com/contact”/>
        <link rel="stylesheet" href="/css/newsite.css">
    </head>
    <body>
            <header>
                    <div class="header-info">
                        <h1 class="main-heading">Siding Construction Company 
                            <p class="--main-heading-p">(609)349-4596</p>
                          </h1>
                    </div>
                  </header>
                  <nav class="menu" id="main-menu">
                    <button class="menu-toggle" id="toggle-menu">toggle menu</button>
                    <div class="menu-dropdown">
                      <div class="menu-expand" id="expanded-menu">
                        <button class="close-menu" id="close-menu"></button>
                      <ul class="nav-menu">
                        <li><a href="/">HOME</a></li>
                        <li><a href="/contact">CONTACT US</a></li>
                        <li><a href="/services">SERVICES</a></li>
                        <li><a href="/projects">PROJECTS</a></li>
                      </ul>
                      </div>
                    </div>
                  </nav>
                  <div class="image-container">
                    <div class="freeSpace"><p>BEST PRICES ON THE MARKET</p></div>
                    <div class="media-info" id="contact-info">
                      <h2>BEST PRICES ON THE MARKET</h2>
                      <p class="contact-p">Building Quality Work in NJ & PA areas</p>
                     
                    </div>
                  </div>
                  <div class="contact-content"><p>Do not feel Compromised and call us today about your siding , roofing or construction project!</p></div>
    <div class="form-container">
            <form enctype="application/x-www-form-urlencoded" action="/contact-form" method="POST"">

                <p>
                <label>Name:
                <input type="text" name="name"  required placeholder="Name">
                </label> 
                </p>

                <p>
                  <label>Email:
                  <input type="email" name="email" placeholder="email@gmail.com">
                  </label>
                  </p>
                
                <p>
                <label>Phone: 
                <input type="number" name="number"placeholder="Contact Phone">
                </label>
                </p>

                <p>
                  <label>Subject
                  <textarea name="message" type="text" maxlength="500"></textarea>
                  </label>
                  </p>
                
                
                <fieldset>
                <legend>Which service do you require?</legend>
                <p><label> <input type="radio" name="taxi" required value="siding">Siding</label></p>
                <p><label> <input type="radio" name="taxi" required value="roofing">Roofing</label></p>
                <p><label> <input type="radio" name="taxi" required value="gutters">Gutters</label></p>
                </fieldset>
                
                <fieldset>
                <legend>Other Services</legend>
                <p><label> <input type="checkbox" name="flooring" value="floor">Flooring</label></p>
                <p><label> <input type="checkbox" name="flooring" value="carpentry">Carpentry</label></p>
                <p><label> <input type="checkbox" name="flooring" value="Masonry">Masonry</label></p>
                </fieldset>
                
                
                <p><button type="submit">Submit Booking</button></p>
                
                </form>
    </div>
    <div class="areas" id="areas-contact">
         <h2 class="areas-h2">Some areas we serve</h2>
       <div class=area-1>
          <p>Hamilton-NJ</p>
          <p>Ewing-NJ</p>
          <p>New Brunswick-NJ</p>
      </div>
      <div class=area-1>
         <p>MorrisVille-PA</p>
         <p>Langhorne-PA</p>
         <p>Philadelphia-PA</p>
     </div>
     <div class=area-1>
        <p>Cherry-hill-NJ</p>
        <p>Doylestown-PA</p>
        <p>Willingboro-NJ</p>
    </div>
    </div>
            
        
    <footer class="footer">
      <div class="footer-info">
        <div class="deluxe-siding">
          <h2 class="footer-titles">Contact info</h2>
          <div class="border"></div>
          <p>New jersey - Hamiltown Township<br>
             48 Patterson ave , 08610<br>
             Email:contactdeluxesiding@gmail.com<br>
             NJ:609-349-4596<br> PA:609-358-9269</p>
        </div>
        <div class="company-services">
         <div class="border"></div>
         <h2 class="footer-titles">Company Services</h2>
         <a href="/blog">Siding</a>
         <a href="/roofingblog">Roofing</a>
         <a href="/gutterblog">Gutter</a>
         <a href="/flooringblog">Flooring</a>
         <a href="/carpentryblog">Carpentry</a>
         <a href="/contact">Masonry</a>
         </div>
         <div class="buttons-footer">
           <div class="border"></div>
           <button class="footer-buttons"><a href="/contact">Request an Estimate</a></button>
           <button class="footer-buttons"><a href="/call">Request a CallBack</a></button>
           <h2>FOLLOW US!</h2>
           <div class="social-icons">
             <a href="https://www.facebook.com/Deluxe-siding-Construction-Company-llc-100498994814976" class="fa fa-facebook" id="icon"></a>
             <a href="https://www.instagram.com/deluxesiding/" class="fa fa-instagram"id="icon"></a>
             <a href="#" class="fa fa-twitter"id="icon"></a>
          </div>
         </div>
         <div class="footer-navigation">
           <div class="border"></div>
           <h2 class="footer-titles">Navigation</h2>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
            <a href="/sidingblog"><strong>Siding Blog</strong></a>
            <a href="roofingblog">Roofing Blog</a>
            <a href="gutterblog">Gutter Blog</a>
         </div>
        
       
      </div>
      <div class="offers">
        <h3>Dont Forget to ask for our's offers and discounts.! we have 500$ off in all roofing and siding projects.!</h3>
        <p class="ultimo-p">We do believe in helping our community build and renovate their houses , because thats keep us  in bussines and also keep our neighbours and the community of the new jersey central  and pa areas happy.<br> So do not hesitate and call us about any inquiry from your siding or roofing projects!</p>
      </div>
     
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
    </footer>
        <script src="" async defer></script>

        <script type="text/javascript">
          (function () {
            var button = document.getElementById('toggle-menu');
            button.addEventListener('click', function(event) {         
              event.preventDefault();
             
              var menu = document.getElementById('main-menu');
              menu.classList.toggle('is-open'); 
          
              var expandedMenu = document.getElementById('expanded-menu');
              
              expandedMenu.style.display = 'block';
              
          
                                
           
          })})();
          
          (function() {
          var buttonClose = document.getElementById('close-menu');
          buttonClose.addEventListener('click', function(event) {
            event.preventDefault();
            var expandedMenu = document.getElementById('expanded-menu');
            expandedMenu.style.display='none';
          
            
          })})
          ();
          var expandedMenu =  document.getElementById('expanded-menu');
          expandedMenu.style.display='block';
          
          
          
          </script>
    </body>
</html>