<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="/images/logo3.png" type="image/jpg" sizes="16x16">
        <title>Contact Us</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name=”robots” content=”index, follow”>
        <meta name="description" content="construction company , we offer siding , roofing , carpentry , window and interior renovation , bathrooms , kitchen and more in the new jesery and PA areas we do siding repairs , new construction ,  additions and more!">
        <link rel=”canonical” href=”https://deluxesiding.com/”/>
        <link rel="stylesheet" href="/css/newsite.css">
    </head>
    <body>
            <header>
                    <div class="header-info">
                        <h1 class="main-heading">WE ARE FULLY CERTIFIED
                            <p class="--main-heading-p">(609)349-4596</p>
                          </h1>
                    </div>
                  </header>
                  <nav class="menu" id="main-menu">
                    <button class="menu-toggle" id="toggle-menu">toggle menu</button>
                    <div class="menu-dropdown">
                      <div class="menu-expand" id="expanded-menu">
                        <button class="close-menu" id="close-menu"></button>
                      <ul class="nav-menu">
                        <li><a href="/">HOME</a></li>
                        <li><a href="/contact">CONTACT US</a></li>
                        <li><a href="/services">SERVICES</a></li>
                        <li><a href="/projects">PROJECTS</a></li>
                      </ul>
                      </div>
                    </div>
                  </nav>
                  <div class="image-container">
                    <div class="freeSpace"><p>BEST PRICES ON THE MARKET</p></div>
                    <div class="media-info" id="contact-info">
                      <h1>BEST PRICES ON THE MARKET</h1>
                      <p class="contact-p">Building Quality Work in NJ & PA areas</p>
                     
                    </div>
                  </div>
    <div class="form-container">
            <form enctype="application/x-www-form-urlencoded" action="/contact-form" method="POST"">

                <p>
                <label>Name:
                <input type="text" name="name"  required placeholder="Name">
                </label> 
                </p>

                <p>
                  <label>Email:
                  <input type="email" name="email" placeholder="email@gmail.com">
                  </label>
                  </p>
                
                <p>
                <label>Phone: 
                <input type="number" name="number"placeholder="Contact Phone">
                </label>
                </p>

                <p>
                  <label>Subject
                  <textarea name="message" type="text" maxlength="500"></textarea>
                  </label>
                  </p>
                
                
                <fieldset>
                <legend>Which service do you require?</legend>
                <p><label> <input type="radio" name="taxi" required value="siding">Siding</label></p>
                <p><label> <input type="radio" name="taxi" required value="roofing">Roofing</label></p>
                <p><label> <input type="radio" name="taxi" required value="gutters">Gutters</label></p>
                </fieldset>
                
                <fieldset>
                <legend>Other Services</legend>
                <p><label> <input type="checkbox" name="flooring" value="floor">Flooring</label></p>
                <p><label> <input type="checkbox" name="flooring" value="carpentry">Carpentry</label></p>
                <p><label> <input type="checkbox" name="flooring" value="Masonry">Masonry</label></p>
                </fieldset>
                
                
                <p><button type="submit">Submit Booking</button></p>
                
                </form>
    </div>
    <div class="areas" id="areas-contact">
         <h2 class="areas-h2">Some areas we serve</h2>
       <div class=area-1>
          <p>Hamilton-NJ</p>
          <p>Ewing-NJ</p>
          <p>New Brunswick-NJ</p>
      </div>
      <div class=area-1>
         <p>MorrisVille-PA</p>
         <p>Langhorne-PA</p>
         <p>Philadelphia-PA</p>
     </div>
     <div class=area-1>
        <p>Cherry-hill-NJ</p>
        <p>Doylestown-PA</p>
        <p>Willingboro-NJ</p>
    </div>
    </div>
            
        
       <footer class="footer">
        <div class="footer-info">
          <p class="footer-p">COPYRIGHT SGROUP 2019 ALL RIGHTS RESERVED.</p>
          <p>SERVING NJ&PA AREAS SINCE 1991-(609)349-4596. -(609)358-9269</p>
          <p>Contactdeluxesiding@gmail.com</p>
          <p>Designed by SGROUP-MEDIA</p>
        </div>
      </footer>
        <script src="" async defer></script>

        <script type="text/javascript">
          (function () {
            var button = document.getElementById('toggle-menu');
            button.addEventListener('click', function(event) {         
              event.preventDefault();
             
              var menu = document.getElementById('main-menu');
              menu.classList.toggle('is-open'); 
          
              var expandedMenu = document.getElementById('expanded-menu');
              
              expandedMenu.style.display = 'block';
              
          
                                
           
          })})();
          
          (function() {
          var buttonClose = document.getElementById('close-menu');
          buttonClose.addEventListener('click', function(event) {
            event.preventDefault();
            var expandedMenu = document.getElementById('expanded-menu');
            expandedMenu.style.display='none';
          
            
          })})
          ();
          var expandedMenu =  document.getElementById('expanded-menu');
          expandedMenu.style.display='block';
          
          
          
          </script>
    </body>
</html>