<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Deluxe Siding</title>
        <meta name="Siding Construction Company" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/deluxe.css" type="text/css">
    </head>
    <body>
        <div class="container">
       <header class="tile">
            <img class="media-image" style=' width: 15em; height:auto; object-fit: contain' src="/images/logo.png">
            <div class="heading-info">
                <h1 class="page-heading">Deluxe Siding.
                  <p> Where Quality Matters</p>
                </h1>
                <div class="contact-info">
                        <p>Hamilton-New Jersey 08610</p>
                        <p>Deluxesiding@gmail.com</p>
                        <p>NJ:(609)-384-4736 ; PA:(609)-358-9269</p>
                </div>
             </div>
       </header>
       <nav class="tile">
       <ul class="site-nav">
           <li><a href="/">Home</a></li>
           <li><a href="/services">Services</a></li>
           <li><a href="/projects">Recent Projects</a></li>
           <li><a href="/contact">Contact Us</a></li>
       </ul>
      </nav>
    </div>
    </body>
    </html>
    <div>
        Sorry our application is experiencing a network issue come back later! thanks
    </div>