<!DOCTYPE html>
<html lang="en-us">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="/images/logo3.png" type="image/jpg" sizes="16x16">
        <title>Home - Deluxe Siding construction </title>
        <link rel=”canonical” href=”https://deluxesiding.com/”/>
        <meta name="keywords" content="siding ,construction , new jersey , roofing">
        <meta name="description" content="siding construction company , we offer siding,roofing,carpentry more! in the new jesery and PA areas">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name=”robots” content=”index, follow”>
        <link rel="apple-touch-icon" href="/images/apple.png" sizes="16x16">
        <link rel="stylesheet" href="/css/newsite.css" type="text/css">
    </head>
    <body>
      <header>
        <div class="header-info">
            <h1 class="main-heading">Siding Construction Company 
                <p class="--main-heading-p">(609)349-4596</p>
              </h1>
        </div>
      </header>
      <nav class="menu" id="main-menu">
        <button class="menu-toggle" id="toggle-menu">toggle menu</button>
        <div class="menu-dropdown">
          <div class="menu-expand" id="expanded-menu">
            <button class="close-menu" id="close-menu"></button>
          <ul class="nav-menu">
            <li><a href="/">HOME</a></li>
            <li><a href="/contact">CONTACT US</a></li>
            <li><a href="/services">SERVICES</a></li>
            <li><a href="/projects">PROJECTS</a></li>
          </ul>
          </div>
        </div>
      </nav>
      <div class="image-container">
        <div class="freeSpace"><p>BEST PRICES ON THE MARKET</p></div>
        <div class="media-info">
          <h2>BEST PRICES ON THE MARKET</h2>
          <p id="margin">Building Quality Work in NJ & PA areas</p>
          <p class="button-p"><a  id="button-estimate" class="specially-a" href="/contact">-REQUEST FREE ESTIMATE-</a></p>
        </div>
      </div>
      <div class="about-us-container">
         <div class="about-us">
           <h3 class="about">ABOUT US</h3 c>
           <div class="logo-container">
             <img src="/images/logonew.png" alt="company-logo">
           </div>
           <div  class="ps">
             <p>We are a construction company speacialized in almost all house construction phases , been in business since 1990 had provided us with the field expertise to satisfactory complete every clients project.<br>Here we consider our whole enterprise our family ; every employee is a friend or a relative that take pride in the work we make.<br> We are established in hamilton-NJ in the new jersey central area , but we cover lots of counties through the PA and new jersey areas and in some cases even NY and delaware!.<br> we do are proud of the vast range of services we do provide such as painting , home renovation, roofing ,exterior renovation such as roofing , siding , masonry , new construction , repairs, skylights and flooring , carpentry and much more  almost everything our customers would need !; as our prices we really consider HONESTY above all so we try our best to give our customer the best and more accurate estimate posible , beating any estimate for well quality work from our fellow competitors.<br> we do offer financing of our projects and also give away prizes & seasonal offers to help our community as well our community had helped us! all of this keeping in mind our core values , we know ,  at the end honesty and quality work its what matter the most to us</p>
             <h2>Our Mission</h2>
             <p>The mission of our deluxe siding company is to provide really quality work to our customers, ensuring every detail is accounted for. because that's  what want for us; the highest quality ,  and we think every person wants & deserve the same! and it is our mission to provide siding and construction services at the most affordable prices to our community</p>
             <h2>Our Vision</h2>
             <p>The Vision we have for our siding construction company is that we want in a future to become the bigest , friendly and more affordable company in our area , because we think if we want the best for us, we have to give the best of ourselfs to the beloved community of the new jersey and pennsylvania areas</p>
             <p><a href="/contact" id="contact-button">Contact Us Today!</a>.</p>
           </div>
         </div>
      <div class="quotes">
         <h2 class="online-appoiments">ONLINE APPOIMENTS</h2>
         <div class="roofing-quote">
           <h2 class="service-title">ROOFING ESTIMATE</h2>
           <P>ASAP | free</P>
           <p class="book-padding"><a class="book" href="/contact">Book</a></p>
         </div>
         <div class="siding-quote">
           <h2 class="service-title">SIDING ESTIMATE</h2>
           <P>ASAP | free</P>
           <p class="book-padding"><a class="book" href="/contact">Book</a></p>
         </div>
         <div class="gutters-quote">
           <h2 class="service-title">GUTTERS ESTIMATE</h2>
           <P> ASAP | free</P>
           <p class="book-padding"><a class="book" href="/contact">Book</a></p>
         </div>
      </div>
     

     </div>
     <div class="service-container">
       <div class="gutter-service">
         <img src="/images/gutters.jpg" style="border-radius: 50%;" alt="gutter-image">
         <h2  class="gutter-h2">GUTTER SERVICES</h2>
         <P  class="service-p">GUTTERS! the water dischargue system of our houses!.<br> from gutter-house cleaning to Residential or commercial we offer gutter services with the best prices in the market and an outstanding quality work!Check out the variety of the gutters we do offer on <a href="/gutterblog"><strong>Gutter Blog</strong></a></P>
       </div>
       <div class="siding-service">
          <img src="/images/siding-services2.jpg" style="border-radius: 50%;" alt="siding-image">
         <h2 class="siding-h2">SIDING SERVICES</h2>
         <P  class="service-p">Siding the most in-demand services by our client's per se the most execellent work to be done!.<br> we offer variety from wood siding to vinyl siding , cedar impression & fiber cement with the most extraordinary designs for our customers! Do you want to know more? Click  <a href="</blog"><strong>Siding blog</strong></a> </P>
       </div>
       <div class="roofing-service">
         <img src="/images/roofing-services.jpg" alt="roofing-image" style="border-radius: 50%;">
         <h2  class="roofing-h2">ROOFING SERVICES</h2>
         <P class="service-p">Roofing services , reparis , additions , new construction and more!.<br> from shingles to TPO ( flat-roofing) , metal roofing, EVERYTHING you need!there is no big or small job we want them all! and rest assured all our projects are secured and insured!Do you want to know more? Check out our  <a href="/roofingblog"><string>Roofing blog</string></a></P>
       </div>
     </div>
     <div class="subscribe">
        <h3 class="subscribe-title">Subscribe</h3>
        <form class="subscribe-form" method="get" action="/thanks">
          <div class="subscribe-form-div">
             <p class="input-p">
                <label for="email"></label>
                <input type="text" id="subscribe-email" name="email" placeholder="Email Address" required>
            </p>
            <form action="/thanks"><button href="/thanks" id="button-estimate"><p class="button-p">-Sign Up-</p></button></form>
          </div>
        </form>
     </div>
     <div class="siding-repair">
      <div class="siding-repair-media">
        <h3 class="siding-repair-title"><strong>How</strong> do you know if you are in need of a siding  replacement?</h3 cl>
        <h4>It's time to replace and get a new siding!</h4>
        <p>Well first of the time for a siding replacement will depend on the material used but regardless of the type of siding, your siding will need regular maintenance and in due time be replaced.<br>with vinyl siding the most commong issues is when they start breaking and cracking as it ages and the elements play a part too!<br>
        but in overall all types of siding needs maintenance such as painting from time to time..<br>
        also vinyl siding is in cold weather may get storm damage, but dont worry give a 10 years warranty for these situations so our client's can have peace of mind knowing they are covered!.<br>
        But if you don't want to go over  all the maintenance for the vinyl siding or composite siding ; choose our choice of hardie - plank siding which could last up to 50 years!!.  </p>
        <h5>Duration of the siding per material:</h5>
        <ul class="ul-duration">
          <li><a href="https://en.wikipedia.org/?title=Aluminum_siding&redirect=no">Metal Siding</a></li> - <em>Duration: 40 years +</em>
          <li><a href="https://sidingauthority.com/how-long-does-siding-last/">Vinyl Siding</a></li> - <em>Duration: 20 - 40 years</em>
          <li><a href="https://www.certainteed.com/siding/what-are-advantages-longer-length-siding/">Wood Siding</a></li> - <em>Duration: 20 years</em>
          <li><a href="https://www.newtechwood.com/composite-siding-vs-vinyl-siding/">Composite Siding</a></li> - <em>Duration: 30 years and need repaiting every 10 years</em>
          <li><a href="https://www.thespruce.com/hardieplank-home-siding-1821971">hardie-plank Siding</a></li> - <em>Duration: the most durable this siding will last up to 50 years!</em>
        </ul>
      </div>
    </div>
     
     <div class="container-brands">
        <div class="first-row">
           <div id="first-image" class="click1">
             <a href="https://www.gaf.com/en-us"><img src="/images/gaf-small.png" alt="gaf materials corporation"></a>
           </div>
          <div id="second-image"  class="click1">
             <a href="https://hamiltonsupply.com/building-materials/"><img src="/images/wsc-small.png" alt="wsc Building materials image"></a>
          </div>
        </div>
        <div class="second-row">
           <div id="first-image" id="universal"  class="click1">
              <a href="https://www.abcsupply.com/"><img src="/images/abc-small.png" alt="abc-supply-brand"></a>
           </div>
           <div id="second-image" id="universal" class="click1">
               <a href="https://www.universalsupply.com/"><img src="/images/universal-small.png" alt="universal-supply"></a>
           </div>
        </div>
        <div class="third-row">
          <div id="first-image" class="click1">
             <a href="https://www.certainteed.com/"><img src="/images/certainteed-small.png" alt="certainteed-trusted-brand"></a>
          </div>
          <div id="second-image"  class="click1">
               <a href="https://www.jameshardie.com/"><img src="/images/james-hardie-small.jpg"alt="hardie-plank james-hardie"></a>
          </div>
       </div>
    </div>
     <footer class="footer">
       <div class="footer-info">
         <div class="deluxe-siding">
           <h2 class="footer-titles">Contact info</h2>
           <div class="border"></div>
           <p>New jersey - Hamiltown Township<br>
              48 Patterson ave , 08610<br>
              Email:contactdeluxesiding@gmail.com<br>
              NJ:609-349-4596<br> PA:609-358-9269</p>
         </div>
         <div class="company-services">
          <div class="border"></div>
          <h2 class="footer-titles">Company Services</h2>
          <a href="/blog">Siding</a>
          <a href="/roofingblog">Roofing</a>
          <a href="/gutterblog">Gutter</a>
          <a href="/flooringblog">Flooring</a>
          <a href="/carpentryblog">Carpentry</a>
          <a href="/contact">Masonry</a>
          </div>
          <div class="buttons-footer">
            <div class="border"></div>
            <button class="footer-buttons"><a href="/contact">Request an Estimate</a></button>
            <button class="footer-buttons"><a href="/call">Request a CallBack</a></button>
            <h2>FOLLOW US!</h2>
            <div class="social-icons">
              <a href="https://www.facebook.com/Deluxe-siding-Construction-Company-llc-100498994814976" class="fa fa-facebook" id="icon"></a>
              <a href="https://www.instagram.com/deluxesiding/" class="fa fa-instagram"id="icon"></a>
              <a href="#" class="fa fa-twitter"id="icon"></a>
           </div>
          </div>
          <div class="footer-navigation">
            <div class="border"></div>
            <h2 class="footer-titles">Navigation</h2>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
            <a href="/blog">Siding Blog</a>
            <a href="/roofingblog">Roofing Blog</a>
            <a href="/gutterblog">Gutter Blog</a>
          </div>
         
        
       </div>
       <div class="offers">
        <h3>Dont Forget to ask for our's offers and discounts.! we have 500$ off in all roofing and siding projects.!</h3>
        <p class="ultimo-p">We do believe in helping our community build and renovate their houses , because thats keep us  in bussines and also keep our neighbours and the community of the new jersey central  and pa areas happy.<br> So do not hesitate and call us about any inquiry from your siding or roofing projects!</p>
      </div>
      
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
     </footer>
     
        
      
     <script type="text/javascript">
(function () {
  var button = document.getElementById('toggle-menu');
  button.addEventListener('click', function(event) {         
    event.preventDefault();
   
    var menu = document.getElementById('main-menu');
    menu.classList.toggle('is-open'); 

    var expandedMenu = document.getElementById('expanded-menu');
    
    expandedMenu.style.display = 'block';
    

                      
 
})})();

(function() {
var buttonClose = document.getElementById('close-menu');
buttonClose.addEventListener('click', function(event) {
  event.preventDefault();
  var expandedMenu = document.getElementById('expanded-menu');
  expandedMenu.style.display='none';

  
})})
();
var expandedMenu =  document.getElementById('expanded-menu');
expandedMenu.style.display='block';



</script>
 <!---->



      


        
    </body>
</html>