<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Deluxe Siding</title>
    <link rel=”canonical” href=”https://deluxesiding.com/”/>
    <meta name="description" content="construction company , we offer siding , roofing , carpentry , window and interior renovation , bathrooms , kitchen and more in the new jesery and PA areas we do siding repairs , new construction ,  additions and more!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”robots” content=”index, follow”>
    <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/newsite.css" type="text/css">
</head>
<body>
    <header>
        <div class="header-info">
            <h1 class="main-heading">WE ARE FULLY CERTIFIED
                <p class="--main-heading-p">(609)384-4736</p>
              </h1>
        </div>
      </header>
      <nav class="menu" id="main-menu">
        <button class="menu-toggle" id="toggle-menu">toggle menu</button>
        <div class="menu-dropdown">
          <div class="menu-expand" id="expanded-menu">
            <button class="close-menu" id="close-menu"></button>
          <ul class="nav-menu">
            <li><a href="/">HOME</a></li>
            <li><a href="/contact">CONTACT US</a></li>
            <li><a href="/services">SERVICES</a></li>
            <li><a href="/projects">PROJECTS</a></li>
          </ul>
          </div>
        </div>
      </nav>
      <div class= projects-container>
         <div class="projects-heading">
             <h1 class="projects-h1">Recent Projects</h1>
             <p class=projects-p>Here are some of our MOST recent projects </p>
         </div>
            <ul id="grid"  class="clear">
              
                    <li>
                        <div class="hexagon">
                            <img src="/images/hardieplank-gallery.jpg" id="image1"alt="james hardie plank garage siding white">
                        </div>
                        <a class ="link-image"href="/images/hardieplank-gallery.jpg"">EXPAND</a>
                    </li>
                    <li>
                       <div class="hexagon">
                          <img src="/images/hardieplank-gallery2.jpg" alt="hardie plank garage white">
                           
                       </div>
                       <a class ="link-image"href="/images/hardieplank-gallery2.jpg">EXPAND</a>
                    </li>
                    <li>
                      <div class="hexagon">
                            <img src="/images/hardieplank-gallery3.jpg" alt="james hardie siding garage with windows">
                      </div>
                      <a class ="link-image"href="images/hardieplank-gallery3.jpg">EXPAND</a>
                    </li>
                    <li>
                            <div class="hexagon">
                                    <img src="/images/cedarimpression-gallery.jpg"  alt="cedar impression siding yellow">
                            </div>
                            <a class ="link-image"href="/images/cedarimpression-gallery.jpg">EXPAND</a>
                   </li>
                   <li>
                           <div class="hexagon">
                                <img src="/images/cedarimpression-gallery2.jpg"  alt="cedar impression siding">
                           </div>
                           <a class ="link-image"href="/images/cedarimpression-gallery2.jpg" >EXPAND</a>
                   </li>
                   <li>
                          <div class="hexagon">
                                <img src="/images/cedarimpression-gallery3.jpg" alt="cedar impression siding">
                          </div>
                           <a class ="link-image"href="/images/cedarimpression-gallery3.jpg">EXPAND</a>
                   </li>
                   <li>
                        <div class="hexagon">
                                <img src="/images/cedarimpression-gallery4.jpg"  alt="cedar impression siding">
                        </div>
                        <a class ="link-image"href="/images/cedarimpression-gallery4.jpg" >EXPAND</a>
                 </li>
                   <li>
                        <div class="hexagon">
                                <img src="/images/bluehouse-gallery1.jpg" alt="siding job azek vinyl">
                        </div>
                        <a class ="link-image"href="/images/bluehouse-gallery1.jpg">EXPAND</a>
                    </li>
                    <li>
                       <div class="hexagon">
                            <img src="/images/bluehouse-gallery.jpg" alt="siding job azek vinyl">
                       </div>
                       <a class ="link-image"href="/images/bluehouse-gallery.jpg">EXPAND</a>
                    </li>
                    <li>
                      <div class="hexagon">
                            <img src="/images/bluehouse-gallery3.jpg" alt="siding job azek vinyl">
                      </div>
                      <a class ="link-image"href="/images/bluehouse-gallery3.jpg">EXPAND</a>
                    </li>
                    <li>
                            <div class="hexagon">
                                   <img src="/images/bluehouse-gallery2.jpg"alt="siding job azek vinyl">
                            </div>
                            <a class ="link-image"href="/images/bluehouse-gallery2.jpg">EXPAND</a>
                        </li>
                        <li>
                           <div class="hexagon">
                                <img src="/images/siding-services.jpg"  alt="green vinyl siding house job">
                           </div>
                           <a class ="link-image"href="/images/siding-services.jpg">EXPAND</a>
                        </li>
                        <li>
                          <div class="hexagon">
                                <img src="/images/greensiding-gallery.jpg"alt="green vinyl siding house job">
                          </div>
                          <a class ="link-image"href="/images/greensiding-gallery.jpg">EXPAND</a>
                        </li>
                        <li>
                             <div class="hexagon">
                                    <img src="/images/greensiding-gallery2.jpg"alt="green vinyl siding house job">
                             </div>
                             <a class ="link-image"href="/images/greensiding-gallery2.jpg">EXPAND</a>
                        </li>
                        <li>
                             <div class="hexagon">
                                    <img src="/images/greensiding-gallery.jpg"  alt="green vinyl siding house job">
                             </div>
                             <a class ="link-image"href="/images/greensiding-gallery.jpg" >EXPAND</a>
                       </li>
                       <li>
                         <div class="hexagon">
                                <img src="/images/greensiding-gallery4.jpg" alt="green vinyl siding house job">
                         </div>
                         <a class ="link-image"href="/images/greensiding-gallery4.jpg">EXPAND</a>
                      </li>
                       <li>
                          <div class="hexagon">
                                <img src="/images/graysiding-gallery1.jpg" alt="gray monogram vinyl siding house install">
                          </div>
                          <a class ="link-image"href="/images/graysiding-gallery1.jpg">EXPAND</a>
                      </li>
                      <li>
                         <div class="hexagon">
                                <img src="/images/graysiding-gallery.jpg" alt="gray monogram vinyl siding house install">
                         </div>
                         <a class ="link-image"href="/images/graysiding-gallery.jpg">EXPAND</a>
                     </li>
                      <li>
                        <div class="hexagon">
                                <img src="/images/window-gallery.jpg"  alt="window capping vinyl siding around">
                        </div>
                        <a class ="link-image"href="/images/window-gallery.jpg">EXPAND</a>
                     </li>
                      <li>
                      <div class="hexagon">
                            <img src="/images/window-gallery2.jpg"  alt="window capping vinyl siding around">
                      </div>
                      <a class ="link-image"href="/images/window-gallery2.jpg">EXPAND</a>
                      </li>
                      
         
        
                    </ul>
                    <div id ="area-project">
                      <div class="areas" id="areas-contact">
                        <h2 class="areas-h2">Some areas we serve</h2>
                        <div class=area-1>
                            <p>Hamilton-NJ</p>
                            <p>Ewing-NJ</p>
                            <p>New Brunswick-NJ</p>
                        </div>
                        <div class=area-1>
                                <p>MorrisVille-PA</p>
                                <p>Langhorne-PA</p>
                                <p>Philadelphia-PA</p>
                            </div>
                            <div class=area-1>
                                    <p>Cherry-hill-NJ</p>
                                    <p>Doylestown-PA</p>
                                    <p>Willingboro-NJ</p>
                                </div>
                    </div>
                    </div>
                   
                
                    <div class="projects-heading last-p">
                      <p>ALL OUR PROJECTS ARE FULLY INSURED AND CERTIFIED</p>
                    </div>

                    <div class="media-info project-padding" id="services-buttom" >
                            <h2 class="services-h2">BEST PRICES ON THE MARKET</h2>
                            <p id="margin">Building Quality Work in NJ & PA areas</p>
                            <p class="button-p"><a  id="button-estimate" class="specially-a" href="/contact">-REQUEST FREE ESTIMATE-</a></p>
                          </div>
                         
                  
      </div>
      <div class="container-brands">
        <div class="first-row">
           <div id="first-image">
             <img src="/images/gaf-small.png" alt="gaf materials corporation">
           </div>
          <div id="second-image">
             <img src="/images/wsc-small.png" alt="wsc Building materials image">
          </div>
        </div>
        <div class="second-row">
           <div id="first-image" id="universal">
              <img src="/images/abc-small.png" alt="abc-supply-brand">
           </div>
           <div id="second-image" id="universal">
               <img src="/images/universal-small.png" alt="universal-supply">
           </div>
        </div>
        <div class="third-row">
          <div id="first-image">
             <img src="/images/certainteed-small.png" alt="certainteed-trusted-brand">
          </div>
          <div id="second-image">
               <img src="/images/james-hardie-small.jpg"alt="hardie-plank james-hardie">
          </div>
       </div>
      </div> 
      <footer class="footer">
          <div class="footer-info">
            <p class="footer-p">COPYRIGHT SGROUP 2019 ALL RIGHTS RESERVED.</p>
            <p>SERVING NJ&PA AREAS SINCE 1991-(609)384-4736. -(609)358-9269</p>
            <p>Contactdeluxesiding@gmail.com</p>
            <p>Designed by SGROUP-MEDIA</p>
          </div>
        </footer>
      
</body>
</html>