<!DOCTYPE html>

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Deluxe Siding</title>
        <meta name="Siding Construction Company" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/deluxe.css" type="text/css">
    </head>
    <body>
            <header class="tile">
                    <img class="media-image" style=' width: 15em; height:auto; object-fit: contain' src="/images/logo.png" alt="company-logo">
                    <div class="heading-info">
                        <h1 class="page-heading">Deluxe Siding.
                          <p> Where Quality Matters</p>
                        </h1>
                        <div class="contact-info">
                                <p>Hamilton-New Jersey 08610</p>
                                <p>Deluxesiding@gmail.com</p>
                                <p>NJ:(609)-384-4736 ; PA:(609)-358-9269</p>
                        </div>
                     </div>
               </header>
               <nav class="tile">
               <ul class="site-nav">
                   <li><a href="/">Home</a></li>
                   <li><a href="/services">Services</a></li>
                   <li><a href="/projects">Recent Projects</a></li>
                   <li><a href="/contact">Contact Us</a></li>
               </ul>
              </nav>
              <div class="container-services ">
                  <h1 class="page-heading services-heading tile">Our services</h1>
                  <div class="media-services">
                       <div class="card card1" style="width: 18rem;">
                        <img class="card-img-top1" src="/images/cedarImpression.JPG"  style=' width: 100%;   object-fit: contain' alt="cedar impression siding">
                        <div class="card-body" style="height:40%;">
                          <h5 class="card-title service-title">Siding</h5>
                          <p class="card-text service-description" style="object-fit: contain; height:60%; overflow: scroll; ">>We have the best prices in the market when it comes to siding every kind of siding from vinyl to fiber cement , cedar impression , wood and more</p>
                          <a href="https://www.certainteed.com/siding/products/mainstreet/" class="btn btn-primary" style="background-color: #356AF2">Check it out</a>
                        </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                  <img class="card-img-top2" src="/images/roofing1.jpg" style=' width: 100%;   object-fit: contain' alt="roofing services">
                  <div class="card-body"style="height:40%;">
                  <h5 class="card-title service-title">Roofing</h5>
                  <p class="card-text service-description" style="object-fit: contain; height:60%; overflow: scroll; ">Fully insured and a outstanding quality , roofing services at your disposal from shingle to TPO and more! call us for a next day FREE estimate!          </p>
                 <a href="https://en.wikipedia.org/wiki/Roof_shingle" class="btn btn-primary"  style="background-color: #356AF2">Check it out</a>
           </div>
        </div>
        <div class="card" style="width: 18rem; ">
                <img class="card-img-top3" style=' width: 100%;   object-fit: contain'src="/images/window.JPG" alt="windows service">
                <div class="card-body" style="height:40%;">
                  <h5 class="card-title service-title">Windows</h5>
                  <p class="card-text service-description"style="object-fit: contain; height:60%; overflow: scroll; ">We do offer the best quality windows installations in the area & within competitive prices check it out the beautiful windows we can offer you</p>
                  <a href="https://www.andersenwindows.com/" class="btn btn-primary"  style="background-color: #356AF2">Check it out</a>
                </div>
              </div>
                        
                  </div>
                  <div class="services-contact-form tile">

                        <form id="login-form" action="/contact-form" method="POST">
                                <h3>Contact Us</h3>
                                   <p class="form-message">Got a question? we'd love to hear from you. Send us a message<br>
                               and we'll respond as soon as possible.</p>
                                   <p>
                                      <label for="name">Name:<br></label>
                                      <input id="contact-name" type="text"
                                       name="name" required placeholder="Your name"/>
                                   </p>
                                   <p>
                                           <label for="email">Email:<br></label>
                                           <input id="contact-email" type="email"
                                            name="email" required placeholder="example@gmail.com"/>
                                  </p>
                                  <p>
                                       <label for="number">Contact Phone:<br></label>
                                       <input id="contact-number" type="number"
                                        name="number" required placeholder="Your phone"/>
                              </p>
                                  <p>
                                       <label for="message">Message:<br></label>
                                       <input id="contact-message" type="text"
                                        name="message" placeholder="        Subject   "/>
                                 </p>
                                   
                                   <button class="contact-button"type="submit">Send</button>
                                 </form>

                  </div>
                  
                  <div class="last-service tile">
                        <h2 class="services-heading2 page-heading  "> Recent projects</h2>
                      <p class="service-projects">We'd like you to take a view of a few of our recent projects all of them are quality and honest work , hope you find it interesting!</p>
                     
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/siding-red.jpg" alt="siding-house">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/siding-red1.jpg" alt="siding">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/cedar-impression-yellow.jpg" alt="siding-house2">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/cedar-impression-yellow2.jpg" alt="vinyl-siding">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/siding-window.jpg" alt="window">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/siding-window2.jpg"alt="window-capping">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/hardie-stone1.jpg"alt="hardie-plank">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/hardie-stone2.jpg"alt="hardie-stone">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/hardie-stone3.jpg"alt="hardie-stone-work">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/siding-vinyl.jpg" alt="vinyl-siding-house">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/siding-vinyl2.jpg"alt="vinyl">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/CedarImpression-mustard.jpg"alt="cedar-impression">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/CedarImpression-mustard2.jpg"alt="cedar-impression-mustard">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/CedarImpression-mustard3.jpg"alt="impression-cedar">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/hardie-plank-garage2.jpg"alt="hardie-garage">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/hardie-plank-garage.jpg"alt="hardie-plank-garage">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/hardie-plank-garage3.jpg"alt="james-hardie">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/house2.jpg"alt="azek-work">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/house-2-1.jpg"alt="cedar-house">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/SidingVinyl.jpg"alt="vinyl-siding-house">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/SidingVinyl2.jpg"alt="vinyl-work">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/VinyilBlue3.jpg"alt="vinyl-blue">
                            <img class="media-image-service" style=' width: 90%; height:70%; object-fit: cover' src="/images/Vinylblue.jpg"alt="vinyl-blue-house">
                            <div class="w3-left" onclick="plusDivs(-1)">&#10094;</div>
                            <div class="w3-right" onclick="plusDivs(1)">&#10095;</div>
                      <p class="last-p">
                          We , Deluxe Siding really love what we do and customer satisfaction is our major goal there is no small or big jobs for us although we do speacialize in siding we offer a wide array of services as we are all in one company please
                          feel free to contact us with any question or estimates (which are free of charge) and well be happy to get back at you.
                          
                      </p>
                  </div>
              </div>
              <footer class="footer-services tile" >
                <p>Copyright SGGROUP 2019. All rights reserved - Deluxesiding@gmail.com -NJ: +1(609)-384-4736-PA: +1(609)358-9269</p>
            </footer>   
        
        <script src="/js/deluxe-services.js" ></script>
    </body>
</html>