<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Deluxe Siding</title>
        <meta name="Siding Construction Company" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/deluxe.css" type="text/css">
    </head>
    <body>
        <div class="container">
       <header class="tile">
            <img class="media-image" style=' width: 15em; height:auto; object-fit: contain' src="/images/logo.png">
            <div class="heading-info">
                <h1 class="page-heading">Deluxe Siding.
                  <p> Where Quality Matters</p>
                </h1>
                <div class="contact-info">
                        <p>Hamilton-New Jersey 08610</p>
                        <p>Deluxesiding@gmail.com</p>
                        <p>NJ:(609)-384-4736 ; PA:(609)-358-9269</p>
                </div>
             </div>
       </header>
       <nav class="tile">
       <ul class="site-nav">
           <li><a href="/">Home</a></li>
           <li><a href="/services">Services</a></li>
           <li><a href="/projects">Recent Projects</a></li>
           <li><a href="/contact">Contact Us</a></li>
       </ul>
      </nav>
       <div class="main-section tile">
           <div class="media">
               
                    <img class="media-image2" style=' width: 95%; height:75%; object-fit: contain' src="/images/SidingVinyl.JPG"alt="vinyl-house">
                    <img class="media-image2" style=' width: 95%; height:75%; object-fit: contain' src="/images/house2.JPG"alt="house-work">
                    <img class="media-image2" style=' width: 95%; height:75%; object-fit: contain' src="/images/houseBlue.JPG"alt="siding-work">
                    <img class="media-image2" style=' width: 95%; height:75%; object-fit: contain' src="/images/VinyilBlue3.jpg"alt="siding-blue">
                    <a class="w3-btn-floating" onclick="plusDivs(-1)">&#10094;</a>
                    <a class="w3-btn-floating2" onclick="plusDivs(+1)">&#10095;</a>
              
                <div class="media-block">
                    <h2 class="media-heading">A little about Deluxe Siding</h2>
                    <p class="media-text">We are a family owned bussiness operating in the New Jersey central and the PA adjacent areas , our core values are simple quality and honest work because at the end it is what matter, we do offer a great number of services , ranging from siding, to interior and home renovation work such as floors , windows , doors carpets, painting and more ! because we felt and know our client we'll be pleased doing so and also because we have the best field workers for every job to fullfill our client's requeriments and beyond ; feel free to navigate through or give us a call and we'll be happy to attend you..</p>
                </div>
           </div>
       </div>
       <div class="sub-section tile ">
            <form id="login-form" action="/contact-form" method="POST">
                 <h3>Contact Us</h3>
                    <p class="form-message">Got a question? we'd love to hear from you. Send us a message<br>
                and we'll respond as soon as possible.</p>
                    <p>
                       <label for="name">Name:<br></label>
                       <input id="contact-name" type="text"
                        name="name" required placeholder="Your name"/>
                    </p>
                    <p>
                            <label for="email">Email:<br></label>
                            <input id="contact-email" type="email"
                             name="email" required placeholder="example@gmail.com"/>
                   </p>
                   <p>
                        <label for="number">Contact Phone:<br></label>
                        <input id="contact-number" type="number"
                         name="number" required placeholder="Your phone"/>
               </p>
                   <p>
                        <label for="message">Message:<br></label>
                        <input id="contact-message" type="text"
                         name="message" placeholder="        Subject   "/>
                  </p>
                    
                    <button class="contact-button"type="submit">Send</button>
                  </form>
                </div>
                <div class="footer-heading-section tile">
                     <h1 class="footer-h2">Some locations we do serve</h1>    
                </div>
                <div class="footer-nav tile">
                        <ul class="footer-ul">
                            <p class="navigation">Navigation</p>
                                <li><a href="/">Home</a></li>
                                <li><a href="/services">Services</a></li>
                                <li><a href="/projects">Recent Projects</a></li>
                                <li><a href="contact">Contact Us</a></li>
                                
                        </ul>
                </div>              
                <div class="footer-areas tile">
                                 
                        <div class="area-1">
                                <p>NJ-Princeton </p>
                                <p>NJ-Hamilton </p>
                                <p>NJ-Plainsboro </p>
                                <p>NJ-Linden </p>
                                <p>NJ-Bordentown </p>
                                <p>NJ-Willingboro</p>
                                <p>NJ-Cranbury</p>
                                <p>NJ-Cherry Hill </p>
                                <p>NJ-Monroe Township</p>
                              
                        </div>
                        <div class="area-2">
                                <p>NJ-Atlantic City </p>
                                <p>NJ-Hammonton </p>
                                <p>NJ-New Brunswick</p>
                                <p>NJ-Edinson </p>
                                <p>NJ-West windsor</p>
                                <p>NJ-East windsor</p>
                                <p>NJ-Trenton</p>
                                <p>PA-Tullytown</p>
                                <p>PA-Croydon</p>
                                
                        </div>
                        <div class="area-3">
                                <p>PA-Morrisville </p>
                                <p>PA-Philadelphia </p>
                                <p>PA-Abington </p>
                                <p>PA-Bristol </p>
                                <p>PA-Chester</p>
                                <p>PA-Doylestown </p>
                                <p>PA-King of prussia</p>
                                <p>PA-Langhorne</p>
                                <p>PA-Moorestown</p>
                              
                        </div>
                    </div>                
                </div>
                <footer class="tile" >
                    <p>Copyright SGGROUP 2019. All rights reserved - Deluxesiding@gmail.com - NJ: +1(609)-384-4736-PA: +1(609)358-9269</p>
                
                </footer>           
                <script src="/js/deluxe.js"></script>
     </body>
    </html>