 <!DOCTYPE html>
 <html lang="en-us">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/logo3.png" type="image/jpg" sizes="16x16">
    <title>Services - Deluxe Siding construction</title>
    <meta name="construction-company" content="html/text">
    <meta name="keywords" content="siding ,construction , new jersey , roofing">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”robots” content=”index, follow”>
    <meta name="description" content="siding construction company , we offer siding,roofing,carpentry more! in the new jesery and PA areas">
    <link rel="apple-touch-icon" href="/images/apple.png" sizes="16x16">
    <link rel=”canonical” href=”https://deluxesiding.com/services”/>
   
    <link rel="stylesheet" href="/css/newsite.css" type="text/css">
</head>
<body>
    <header>
      <div class="header-info">
          <h1 class="main-heading">Siding Construction Company 
              <p class="--main-heading-p">(609)349-4596</p>
            </h1>
      </div>
    </header>
    <nav class="menu" id="main-menu">
      <button class="menu-toggle" id="toggle-menu">toggle menu</button>
      <div class="menu-dropdown">
        <div class="menu-expand" id="expanded-menu">
          <button class="close-menu" id="close-menu"></button>
        <ul class="nav-menu">
          <li><a href="/">HOME</a></li>
          <li><a href="/contact">CONTACT US</a></li>
          <li><a href="/services">SERVICES</a></li>
          <li><a href="/projects">PROJECTS</a></li>
        </ul>
        </div>
      </div>
    </nav>
   <div class="services-container">
        <div class="service-logo-container">
                <img src="/images/logonew.png" alt="company-logo">
            </div>
       <div class="media-service">
           <h2>OFFERING A WIDE RANGE OF CONSTRUCTION SERVICES</h2>
           <p class="service-p">We are a all-in one company so no matter what kind of work our client's need to be done ; we have an execellent team to make it real! ranging from base board , flooring & indoor work to roofing , siding and exterior renovation. <a href="/contact" class="link-services">Contact Us!</a></p>
       </div>
       <div class="service-container">
            <div class="gutter-service">
              <img src="/images/gutter-services.jpg" style="border-radius: 50%;" alt="gutter-services">
              <h2  class="gutter-h2">GUTTER SERVICES</h2>
              <P  class="service-p">GUTTERS! the water dischargue system of our houses! from gutter-house cleaning to Residential or commercial we offer gutter services with the best prices in the market and an outstanding quality work!Check out the variety of the gutters we do offer on our <a href="/gutterblog">Gutter page!</a></P>
            </div>
            <div class="siding-service">
               <img src="/images/siding-services.jpg" style="border-radius: 50%;" alt="siding-services">
              <h2 class="siding-h2">SIDING SERVICES</h2>
              <P  class="service-p">Siding the most used services by our client's per se the most execellent work to be done! we offer variety from wood siding to vinyl siding , cedar impression & fiber cement with the most extraordinary designs for our customers! questions? please inform yourself more about siding in our  <a href="/blog">Siding blog</a> </P>
            </div>
            <div class="roofing-service">
              <img src="/images/roofing-services.jpg" alt="roofing-services" style="border-radius: 50%;">
              <h2  class="roofing-h2">ROOFING SERVICES</h2>
              <P class="service-p">Roofing services , reparis , additions , new construction and more! from shingles to TPO ( flat-roofing) , metal roofing, EVERYTHING you need!there is no big or small job we want them all! and rest assured all our projects are secured and insured!please to educate yourself or simply know more about roofing follow this  <a href="/roofingblog">roofing blog</a></P>
            </div>
            <div class="gutter-service">
                    <img src="/images/masonry-services.jpg" style="border-radius: 50%;" alt="masonry-services">
                    <h2  class="gutter-h2">MASONRY SERVICES</h2>
                    <P  class="service-p">We do offer the best masonry services out there and we say so because there is no match to our prices & quality when it comes to stone work! from whole buildings to small walls we offer a lot of custom stone designs! please kindly contact us for more information<a href="/contact">Contact Us</a></P>
                  </div>
                  <div class="siding-service">
                     <img src="/images/carpentry-services.jpg" style="border-radius: 50%;" alt="carpentry-services">
                    <h2 class="siding-h2">CARPENTRY SERVICES</h2>
                    <P  class="service-p">New consctruction, additions , whole renovations , new framing for door or windows and everything YOU as our client could imagine Do you want to know more?Click <a href="/carpinteriablog">Follow our Carpentry blog</a> </P>
                  </div>
                  <div class="roofing-service">
                    <img src="/images/flooring-services.jpg" alt="flooring-services" style="border-radius: 50%;">
                    <h2  class="roofing-h2">FLOORING SERVICES</h2>
                    <P class="service-p">Ceramic, wood tiles, vinyl flooring  we have the best custom ideas and design for your bathrooms , kitchen , backsplash and flooring in general our team do really an awesome work  Do you want to know more?Click <a href="/flooringBlog">in our Flooring blog</a> </P>
                  </div>
          </div>
          
                <div class="media-info" id="services-buttom">
                  <h2 class="services-h2">BEST PRICES ON THE MARKET</h2>
                  <p id="margin">Building Quality Work in NJ & PA areas</p>
                  <p class="button-p"><a  id="button-estimate" class="specially-a" href="/contact">-REQUEST FREE ESTIMATE-</a></p>
                </div>
    <div class="areas" id="areas-contact">
        <h2 class="areas-h2">Some areas we serve</h2>
        <div class=area-1>
            <p>Hamilton-NJ</p>
            <p>Ewing-NJ</p>
            <p>New Brunswick-NJ</p>
        </div>
        <div class=area-1>
                <p>MorrisVille-PA</p>
                <p>Langhorne-PA</p>
                <p>Philadelphia-PA</p>
            </div>
            <div class=area-1>
                    <p>Cherry-hill-NJ</p>
                    <p>Doylestown-PA</p>
                    <p>Willingboro-NJ</p>
                </div>
    </div>
    <footer class="footer">
      <div class="footer-info">
        <div class="deluxe-siding">
          <h2 class="footer-titles">Contact info</h2>
          <div class="border"></div>
          <p>New jersey - Hamiltown Township<br>
             48 Patterson ave , 08610<br>
             Email:contactdeluxesiding@gmail.com<br>
             NJ:609-349-4596<br> PA:609-358-9269</p>
        </div>
        <div class="company-services">
         <div class="border"></div>
         <h2 class="footer-titles">Company Services</h2>
         <a href="/blog">Siding</a>
          <a href="roofingblog">Roofing</a>
          <a href="/gutterblog">Gutter</a>
          <a href="/flooringblog">Flooring</a>
          <a href="/carpentryblog">Carpentry</a>
          <a href="/contact">Masonry</a>
         </div>
         <div class="buttons-footer">
           <div class="border"></div>
           <button class="footer-buttons"><a href="/contact">Request an Estimate</a></button>
           <button class="footer-buttons"><a href="/call">Request a CallBack</a></button>
           <h2>FOLLOW US!</h2>
           <div class="social-icons">
             <a href="https://www.facebook.com/Deluxe-siding-Construction-Company-llc-100498994814976" class="fa fa-facebook" id="icon"></a>
             <a href="https://www.instagram.com/deluxesiding/" class="fa fa-instagram"id="icon"></a>
             <a href="#" class="fa fa-twitter"id="icon"></a>
          </div>
         </div>
         <div class="footer-navigation">
           <div class="border"></div>
           <h2 class="footer-titles">Navigation</h2>
           <a href="/">Home</a>
           <a href="/projects">Projects</a>
           <a href="/services">Services</a>
           <a href="/contact">Contact</a>
           <a href="/blog">Siding Blog</a>
           <a href="/roofingblog">Roofing Blog</a>
           <a href="/gutterblog">Gutter Blog</a>
         </div>
        
       
      </div>
      <div class="offers">
        <h3>Dont Forget to ask for our's offers and discounts.! we have 500$ off in all roofing and siding projects.!</h3>
        <p class="ultimo-p">We do believe in helping our community build and renovate their houses , because thats keep us  in bussines and also keep our neighbours and the community of the new jersey central  and pa areas happy.<br> So do not hesitate and call us about any inquiry from your siding or roofing projects!</p>
      </div>
     
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
    </footer>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
  <script type="text/javascript">
    (function () {
      var button = document.getElementById('toggle-menu');
      button.addEventListener('click', function(event) {         
        event.preventDefault();
       
        var menu = document.getElementById('main-menu');
        menu.classList.toggle('is-open'); 
    
        var expandedMenu = document.getElementById('expanded-menu');
        
        expandedMenu.style.display = 'block';
        
    
                          
     
    })})();
    
    (function() {
    var buttonClose = document.getElementById('close-menu');
    buttonClose.addEventListener('click', function(event) {
      event.preventDefault();
      var expandedMenu = document.getElementById('expanded-menu');
      expandedMenu.style.display='none';
    
      
    })})
    ();
    var expandedMenu =  document.getElementById('expanded-menu');
    expandedMenu.style.display='block';
    
    
    
    </script>
    </body>
</html>