<!DOCTYPE html>
<html lang="en-us">
        <head>
            
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <link rel="icon" href="/images/logo3.png" type="image/jpg" sizes="16x16">
                <title>Thanks - Deluxe Siding Construction</title>
                <meta name="keywords" content="siding ,construction , new jersey , roofing">
                <meta name="description" content="">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name=”robots” content=”index, follow”>
                <meta name="description" content="siding construction company , we offer siding,roofing,carpentry,windows,kitchen , additions and more! in the new jesery and PA areas">
                <link rel="apple-touch-icon" href="/images/apple.png" sizes="16x16">
                <link rel=”canonical” href=”https://deluxesiding.com/”/>
                <link rel="stylesheet" href="/css/newsite.css">
            </head>
            <body>
                    <header>
                            <div class="header-info">
                                <h1 class="main-heading">WE ARE FULLY CERTIFIED
                                    <p class="--main-heading-p">(609)349-4596</p>
                                  </h1>
                            </div>
                          </header>
                          <nav class="menu" id="main-menu">
                            <button class="menu-toggle" id="toggle-menu">toggle menu</button>
                            <div class="menu-dropdown">
                              <div class="menu-expand" id="expanded-menu">
                                <button class="close-menu" id="close-menu"></button>
                              <ul class="nav-menu">
                                <li><a href="/">HOME</a></li>
                                <li><a href="/contact">CONTACT US</a></li>
                                <li><a href="/services">SERVICES</a></li>
                                <li><a href="/projects">PROJECTS</a></li>
                              </ul>
                              </div>
                            </div>
                          </nav>
                          <div class="simpleform">
                            <form action=""
                          </div>
                          <div class="thanks-message">

                            <p>THANKS , WE'LL BE RIGHT AT YOU AS SOON AS POSSIBLE!</p>

                          </div>
                          <footer class="footer">
                            <div class="footer-info">
                              <div class="deluxe-siding">
                                <h2>Contact info</h2>
                                <div class="border"></div>
                                <p>New jersey - Hamiltown Township<br>
                                   48 Patterson ave , 08610<br>
                                   Email:contactdeluxesiding@gmail.com<br>
                                   NJ:609-349-4596<br> PA:609-358-9269</p>
                              </div>
                              <div class="company-services">
                               <div class="border"></div>
                               <h2>Company Services</h2>
                               <a href="/sidingblog">Siding</a>
                               <a href="roofingblog">Roofing</a>
                               <a href="/gutterblog">Gutter</a>
                               <a href="/flooringblog">Flooring</a>
                               <a href="/carpentryblog">Carpentry</a>
                               <a href="/contact">Masonry</a>
                               </div>
                               <div class="buttons-footer">
                                 <div class="border"></div>
                                 <button class="footer-buttons"><a href="/contact">Request an Estimate</a></button>
                                 <button class="footer-buttons"><a href="/thanks">Request a CallBack</a></button>
                                 <h2>FOLLOW US!</h2>
                                 <div class="social-icons">
                                   <a href="https://www.facebook.com/Deluxe-siding-Construction-Company-llc-100498994814976" class="fa fa-facebook" id="icon"></a>
                                   <a href="https://www.instagram.com/deluxesiding/" class="fa fa-instagram"id="icon"></a>
                                   <a href="#" class="fa fa-twitter"id="icon"></a>
                                </div>
                               </div>
                               <div class="footer-navigation">
                                 <div class="border"></div>
                                 <h2 class="footer-titles">Navigation</h2>
                                 <a href="/">Home</a>
                                 <a href="/projects">Projects</a>
                                 <a href="/services">Services</a>
                                 <a href="/contact">Contact</a>
                                 <a href="/blog"><strong>Siding Blog</strong></a>
                                 <a href="/roofingblog">Roofing Blog</a>
                                 <a href="/gutterblog">Gutter Blog</a>
                               </div>
                              
                             
                            </div>
                            <div class="offers">
                              <h3>Dont Forget to ask for our's offers and discounts.! we have 500$ off in all roofing and siding projects.!</h3>
                              <p class="ultimo-p">We do believe in helping our community build and renovate their houses , because thats keep us  in bussines and also keep our neighbours and the community of the new jersey central  and pa areas happy.<br> So do not hesitate and call us about any inquiry from your siding or roofing projects!</p>
                            </div>
                           
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                            <link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
                          </footer>
      </body>
      </html>