<!DOCTYPE html>
<html lang="en-us">
        <head>
            
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <link rel="icon" href="/images/logo3.png" type="image/jpg" sizes="16x16">
                <title>Thanks - Deluxe Siding Construction</title>
                <meta name="keywords" content="siding ,construction , new jersey , roofing">
                <meta name="description" content="">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name=”robots” content=”index, follow”>
                <meta name="description" content="construction company , we offer siding , roofing , carpentry , window and interior renovation , bathrooms , kitchen and more in the new jesery and PA areas we do siding repairs , new construction ,  additions and more!">
                <link rel=”canonical” href=”https://deluxesiding.com/”/>
                <link rel="stylesheet" href="/css/newsite.css">
            </head>
            <body>
                    <header>
                            <div class="header-info">
                                <h1 class="main-heading">WE ARE FULLY CERTIFIED
                                    <p class="--main-heading-p">(609)349-4596</p>
                                  </h1>
                            </div>
                          </header>
                          <nav class="menu" id="main-menu">
                            <button class="menu-toggle" id="toggle-menu">toggle menu</button>
                            <div class="menu-dropdown">
                              <div class="menu-expand" id="expanded-menu">
                                <button class="close-menu" id="close-menu"></button>
                              <ul class="nav-menu">
                                <li><a href="/">HOME</a></li>
                                <li><a href="/contact">CONTACT US</a></li>
                                <li><a href="/services">SERVICES</a></li>
                                <li><a href="/projects">PROJECTS</a></li>
                              </ul>
                              </div>
                            </div>
                          </nav>
                        
                          <div class="thanks-message">

                            <p>THANKS , WE'LL BE RIGHT AT YOU AS SOON AS POSSIBLE!</p>

                          </div>
      </body>
      </html>